# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
absl-py==0.10.0
alabaster==0.7.12
altair==4.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.16.0
astor==0.8.1
astroid==2.4.2
async-generator==1.10
attrs==19.3.0
audioread==2.1.8
autopep8==1.5.4
Babel==2.8.0
backcall==0.2.0
base58==2.0.1
bidict==0.21.2
binaryornot==0.4.4
bitstruct==8.11.0
bleach==3.2.1
blinker==1.4
bokeh==2.2.1
boto3==1.15.13
botocore==1.18.13
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorcet==2.0.2
cookiecutter==1.7.2
cycler==0.10.0
Cython==0.29.21
dask==2.27.0
datashader==0.11.1
datashape==0.5.2
decorator==4.4.2
defusedxml==0.6.0
distributed==2.27.0
docutils==0.16
entrypoints==0.3
enum-compat==0.0.3
fsspec==0.8.3
future==0.18.2
google-auth==1.21.3
google-auth-oauthlib==0.4.1
grpcio==1.32.0
h5py==2.10.0
hdbscan==0.8.26
HeapDict==1.0.1
holoviews==1.13.4
idna==2.10
imagesize==1.2.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.5.3
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
librosa==0.8.0
llvmlite==0.34.0
locket==0.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.5.0
msgpack==1.0.0
multipledispatch==0.6.0
mutagen==1.45.1
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numba==0.51.2
numpy==1.19.2
oauthlib==3.1.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
panel==0.9.7
param==1.9.3
parso==0.7.1
partd==1.1.0
pathtools==0.1.2
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pooch==1.2.0
poyo==0.5.0
pprintpp==0.4.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyct==0.4.6
pydeck==0.5.0b1
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
pytzdata==2020.1
pyviz-comms==0.7.6
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
SoundFile==0.10.3.post1
spectralcluster==0.1.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
streamlit==0.67.1
tblib==1.7.0
tbm-utils==2.6.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.11.1
torch==1.6.0
tornado==6.0.4
tqdm==4.49.0
traitlets==5.0.4
typing-extensions==3.7.4.3
tzlocal==2.1
umap-learn==0.4.6
urllib3==1.25.10
validators==0.18.1
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
webrtcvad==2.0.10
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.16.1
zict==2.0.0


# backwards compatibility
pathlib2
