# local package
# -e .

# external requirements
click
Sphinx
coverage
awscli
flake8
docutils
python-dotenv>=0.5.1
audioread==2.1.8
autopep8==1.5.4
Babel==2.8.0
cloudpickle==1.6.0
colorama==0.4.3
cookiecutter==1.7.2
Cython==0.29.21
h5py==2.10.0
hdbscan==0.8.26
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jupyter==1.0.0
librosa==0.8.0
matplotlib==3.3.2
more-itertools==8.5.0
mutagen==1.45.1
numba==0.51.2
numpy==1.19.2
pandas==1.1.2
pandocfilters==1.4.2
Pillow==7.2.0
pprintpp==0.4.0
Pygments==2.7.1
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
six==1.15.0
SoundFile==0.10.3.post1
streamlit==0.67.1
tensorboard==2.3.0
tensorboardX==2.1
torch==1.6.0
tornado==6.0.4
tqdm==4.49.0
tzlocal==2.1
umap-learn==0.4.6
urllib3==1.25.10
webrtcvad==2.0.10
Werkzeug==1.0.1
wget==3.2


# backwards compatibility
pathlib2
